.btn-detached-action {
    margin-left: .75rem;
    color: #fff;
    background-color: var(--primary, #3c4b5f);
    text-overflow: ellipsis;
    overflow: hidden;
}

.btn-detached-action:hover {
    background-color: var(--primary-dark, #22292f);
}
